.header-portfolio-img-only {
  // height: 100vh;

  // @include add-bg-image-with-height(
  //   '/images/portfolios-project-page/microhome/header-cropped.png',
  //   80vh,
  //   null
  // );
  background-color: #fff;
  height: 80vh;
  margin-bottom: 0.5rem;
  @include bg-image-settings;
  background-attachment: scroll;
}
