.btn {
  display: inline-block;
  padding: 1.4rem 3.2rem;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;

  &--full {
    background-color: rgba(222, 184, 135, 1);
    color: inherit;

    &:hover {
      background-color: rgba(222, 184, 135, 0.85);
    }
  }

  &--full-blue {
    background-color: #0d3b66;

    &:hover {
      border-color: #0d3b66;
    }
  }

  &--full-orange {
    background-color: #ee964b;

    &:hover {
      border-color: #ee964b;
    }
  }

  &--full-dark-orange {
    background-color: #f95738;

    &:hover {
      border-color: #f95738;
    }
  }

  &--outline {
    background-color: transparent;
    color: #333;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 300;

    &:hover {
      background-color: rgba(222, 184, 135, 0.85);
    }
  }

  &--outline-blue {
    border-color: #0d3b66;

    &:hover {
      background-color: #0d3b66;
      border-color: #fff;
    }
  }

  &--outline-orange {
    border-color: #ee964b;

    &:hover {
      background-color: #ee964b;
      border-color: #fff;
    }
  }

  &--outline-dark-orange {
    border-color: #f95738;

    &:hover {
      background-color: #f95738;
      border-color: #fff;
    }
  }

  &--small {
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
  }

  &--medium {
    padding: 1rem 2.2rem;
    font-size: 1.6rem;
  }

  &--large {
    padding: 1rem 2.8rem;
    font-size: 2rem;
  }
}
