.section--contact-form {
}

$default-form-border-radius: 3px;

.contact-form {
  @include flex(stretch, stretch, column);
  max-width: 100%;
  // margin: 0 auto;

  &__input-group {
    @include flex(center, center, null);
    gap: 1.4rem;
    margin-bottom: 2rem;
    max-width: 100%;
  }

  &__input-group &__input {
    width: 50%;
  }

  &__input,
  &__message {
    font-family: inherit;
    color: #fff;
    letter-spacing: 1.5px;
    background-color: #fff;
    font-size: 2rem;
    padding: 1rem 2.2rem;
    border: none;
    border-radius: $default-form-border-radius;

    // Added for testing variation
    background-color: transparent;
    border-bottom: 1px solid #fff;
    font-weight: 300;
    border-radius: 0;

    // &:focus {
    //   outline: 3px solid $color-main;
    // }

    &:focus {
      outline: none;
      border-bottom: 1px solid $color-main;
    }
  }

  &__input {
    height: 5.7rem;

    // Added for testing variation
    background-color: transparent;
    border-bottom: 1px solid #fff;
    font-weight: 300;
    border-radius: 0;

    &::placeholder {
      color: #fff;
      font-weight: 300;
    }
  }

  & > &__input {
    margin-bottom: 2rem;
  }

  &__message {
    padding: {
      top: 2rem;
      bottom: 2rem;
    }

    margin-bottom: 3rem;
    min-height: 30rem;
    max-height: 40rem;
    letter-spacing: 1.5px;
    resize: vertical;
  }

  .btn {
    width: 50%;
    margin: 0 auto;
    border-radius: $default-form-border-radius;

    &:focus {
      outline: 3px solid #fff;
    }
  }
}
