.section--team {
  padding: 8rem 0;

  .heading--secondary {
    font-size: 4.8rem;
  }
}

.team {
  column-gap: 6.4rem;

  &__img-box,
  &__text-box {
  }

  &__text-box {
    // align-items: stretch;
    // flex-direction: column;
    line-height: 2;
    // background-color: rgba(222, 184, 135, 0.08);
    color: #000;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 2px;

    ul {
      list-style: circle;
      margin-bottom: 3.2rem;
    }

    li {
      margin-left: 2rem;
    }

    p {
      font-size: 1.8rem;
      line-height: 2.2;
    }
  }

  &__text-container {
    @include flex(null, center, null);
    flex-direction: column;
    height: 100%;
    padding: 1rem 2.2rem;

    background-color: #aaa;
  }

  &__img-box {
    // border: 1px solid rgba(204, 204, 204, 0.229);
    @include flex(center, center, null);
    flex-direction: column;
    gap: 2.4rem;
  }

  &__img {
    width: 70%;
    border-radius: 50%;
  }

  &__member-name {
    display: inline-block;
    text-transform: uppercase;
    padding: 2rem 0;
    $border-vertical: 1px solid #fff;

    border: {
      top: $border-vertical;
      bottom: $border-vertical;
    }
  }

  &__list {
    list-style: circle;
    margin-bottom: 3.2rem;
  }

  &__list-item {
    margin-left: 2rem;
  }
}
