.margin-btm-ultra-sm {
  margin-bottom: 1.2rem !important;
}

.margin-btm-sm {
  margin-bottom: 1rem !important;
}

.margin-btm-md {
  margin-bottom: 4.8rem !important;
}

.margin-btm-lg {
  margin-bottom: 6.4rem !important;
}

.margin-btm-lg-2 {
  margin-bottom: 8rem !important;
}

.margin-btm-lg-3 {
  margin-bottom: 9.8rem !important;
}

.margin-btm-lg-4 {
  margin-bottom: 12.8rem !important;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.letter-spacing-1 {
  letter-spacing: 0.5px !important;
}

.letter-spacing-2 {
  letter-spacing: 1px !important;
}

.letter-spacing-3 {
  letter-spacing: 1.5px !important;
}

.letter-spacing-4 {
  letter-spacing: 2px !important;
}

.letter-spacing-5 {
  letter-spacing: 2.5px !important;
}

.grid {
  display: grid !important;
  column-gap: 4.8rem;
  row-gap: 15.8rem;
}

.grid--1-col {
  grid-template-columns: 1fr;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--80-20 {
  grid-template-columns: 0.8fr 0.2fr;
}

.flex {
  display: flex !important;
  gap: 2.4rem;
}

.flex-col {
  flex-direction: column !important;
}

.flex-center-v {
  align-items: center !important;
}

.flex-center-h {
  justify-content: center !important;
}

.flex-center {
  align-items: center !important;
  justify-content: center !important;
}

.letter-capital-colored {
  font-size: 6.4rem;
  color: $color-main;
  border-bottom: 1px solid currentColor;
}

.padding-left-md {
  padding-left: 4.8rem !important;
}

$animation-duration: 1.3s;

// .animate-slide-to-top {
//   animation: slide-to-top $animation-duration linear;
// }

// .animate-slide-to-right {
//   animation: slide-to-right $animation-duration linear;
// }

// .animate-slide-to-left {
//   animation: slide-to-left $animation-duration linear;
// }
